html, body, a, p {
    color: #eee;
}

html {
    background: #212121;
}

body {
    
}

main {
    
}

.valign {
    /* border: solid 1px white; */
}
 
.fill-section {
    height: 100vh;
}


#top .avatar {
    width: 250px;
    border-radius: 50%;
    border: solid 2.5px #eee;
}

#top .name {
    margin: 0;
}

#top .bio {
    color: #aaa;
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
}

#top .social-medias {
    margin-top: 20px;
}

#top .social-medias .row {
    margin: 0;
}

#top .social-col {
    /* cursor: pointer; */
    margin: 10px 0;
}

#top .social-col p {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.logo-img {
    width: 50px;
}