:root {
    --background: #1d1d1d;
    --background2: #2d2d2d;
    --foreground: #eee;
    --foreground2: #ccc;
    --foreground3: #aaa;
    --foreground4: #777;

    --reverse-foreground: #1d1d1d;
    --reverse-background: #eee;

    --warning-foreground: #000;
    --warning-background: rgb(250, 226, 11);

    --accent-color: #fff;
    --accent2-color: #eee;

    --reverse-accent-color: #1d1d1d;

    --alert-color: #b91d1d;

    --animation1: 0.4s;
    --animation2: 0.7s;
    --animation3: 1;
	
	--sub-container-max-width: 600px;
	--sub-container-max-width2: 900px;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
}


html, body {
    /* opacity: 0;
    transition: opacity 0.4s; */
    
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--foreground);
    text-decoration: none;
}

a:hover {
    color: var(--foreground2);
    text-decoration: underline;
}

h1 a, h2 a, h3 a {
    text-decoration: none !important;
}

nav > li {
    list-style: none;
}

body header {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(29, 29, 29, 0.25);
    transition: background 0.5s, height 0.4s, opacity 0.4s;
    height: 50px;
    z-index: 50;
}

body header * {
    transition: color 1s;
}

body header.top {
    top: 0;
    bottom: auto;
    position: fixed;
    background: var(--reverse-background);
    height: 50px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

body header.top * {
    color: var(--background);
}

body header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

body header .container * {
    display: inline-flex;
}

body header h1 {
    font-size: 22px;
}

body header nav li {
    font-size: 20px;
}

body header nav {
    margin-left: auto;
}

body header nav li {
    margin-left: 15px;
}

#wrap {
    transition: opacity 0.4s;
}

#wrap, main {
    width: 100%;
    height: 100%;
}

main section {
    display: flex;
    border-bottom: 1px solid var(--foreground);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* box-shadow: 0 0 1000px 200px #000 inset; */
}

main section .container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    z-index: 20;
}

main section .container.middle {
	padding-top: 0;
}

div.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.center {
    text-align: center;
}

#wrap footer {

}

.blog-post .header h1 {
    font-size: 35px;
}

.blog-post .header h2 {
    font-size: 20px;
    color: var(--foreground3);
}

.blog-post .header {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.blog-post .body {
    font-size: 15px;
    text-align: justify;
}

.text p, li {
	color: var(--foreground3);
}

.text p {
    text-align: justify;
    text-indent: 20px;
    font-size: 16px;
    margin-top: 10px;
}

.text ul {
	
}

.text ul li {
	margin-left: 20px;
}

.text ul li p {
	margin-top: 0;
	margin-bottom: 0;
	text-align: initial;
	text-indent: 0;
}


.text h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}

/* Sections */
#overview {
    background-image: url('/assets/img/bunner-python.jpg');
}

#overview .center {
	width: 100%;
    max-width: 350px;
}

#portifolio {
    /* margin-top: 100%; */
}

#contact {
    background-image: url('/assets/img/bunner-notebook.jpg');
}

section.black-overlay {
	box-shadow: 
	inset 0 0 0 100vh rgba(0, 0, 0, 0.5);
}

div.full, section.full {
    min-height: 100%;
}

p.justify {
    text-align: justify;
}

/* Form */
textarea:focus, input:focus, select {
    outline: none;
}

form {
    width: 100%;
    max-width: var(--sub-container-max-width);
    background-color: var(--reverse-background);
    border-radius: 2px;
    padding: 20px;
    color: var(--reverse-foreground);
}

input[type=text], select, textarea {
    color: var(--reverse-foreground);
    width: 100%;
    padding: 8px 4px;
    margin: 2px 0 10px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--reverse-accent-color);
    font-family: sans-serif;
    font-size: 16px;
}

select {
    cursor: pointer;
}

input[type=submit] {
    border: none;
    background: var(--reverse-accent-color);
    color: var(--foreground);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

form label {
    font-size: 14px;
    font-weight: bold;
}

form label .required {
    color: var(--alert-color);
}

.card, input[type=submit] {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

input[type=text]:disabled, select:disabled, textarea:disabled, input[type=submit]:disabled {
    opacity: 0.5;
    cursor: progress;
}

h1 ~ p, h2 ~ p, h3 ~ p, h4 ~ p, h5 ~ p, h6 ~ p,
div[marked] p {
    color: var(--foreground3);
}

/*.btn-demo {
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 7.5px;
    transition: background 0.4s, color 0.4s, border-color 0.4s;

    float: left;
    width: inherit;
}*/

/*.image {
    position:relative;
}
.image img {
    width:100%;
    width:400px;
    height:400px;
}
.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity:1;
}*/

.btn-overlay img {
	transition: opacity 0.4s;
}

.btn-overlay:hover img {
	opacity: 0.2;
}

.btn-overlay .middle {
	position: absolute;
	top: 0;
    left: 15px;
    bottom: 0;
    right: 0;
    
    width: calc(100% - 30px);
    border: 2px solid var(--foreground);
}

.btn-overlay a.btn-demo {
	position: absolute;
	/*bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;*/
}

.btn-demo {
	font-size: 22px;
	font-weight: 600;
	border: 1px solid white;
	padding: 5px 10px;
	border-radius: 5px;
	opacity: 0;
}

*:hover > .btn-demo {
    opacity: 1;
}

.btn-demo:hover {
    text-decoration: none;
    background: var(--foreground);
    color: var(--background);
    border-color: var(--background);
}

#portifolio-container {
	max-width: var(--sub-container-max-width2);
	margin: auto;
}

.project {
	margin-bottom: 150px;
}

.project:last-child {
	margin-bottom: 50px;
}

.project > a {
    display: flex;
}

.project .icon {
    align-items: center;
    justify-content: center;
}

.project .icon > img {
    image-rendering: pixelated;
}

.project .techs span {
	background: var(--reverse-background);
	color: var(--reverse-foreground);
	font-weight: 600;
	font-size: 14px;
	padding: 2.5px 7.5px;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
	cursor: pointer;
}

/* Image */
img.avatar {
    width: 100%;
    border-radius: 50%;
    border: 2px var(--accent2-color) solid;
    filter: grayscale(100%);
}

img.avatar.small {
    max-width: 50px;
    border: 1px var(--accent2-color) solid;
}

img.avatar.medium {
    max-width: 250px;
    border: 2px var(--accent2-color) solid;
}

img.avatar.large {
    max-width: 400px;
    border: 3px var(--accent2-color) solid;
}

img.avatar.xlarge {
    max-width: 750px;
    border: 4px var(--accent2-color) solid;
}

/* Scroll bar style */
::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.075);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);  */
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0, 0.3);
    background: rgba(200, 200, 200, 0.9);
}

/* ::-moz-selection { background: rgba(25, 118, 210, 0.75); color: var(--accent2-color); }
::selection { background: rgba(25, 118, 210, 0.75); color: var(--accent2-color); } */


/* Utils */
.hidden {
    opacity: 0;
}

.warning-text {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    transform: rotate(-45deg);
    /* transform: skewY(-45deg); */
    /* width: 100%; */
    color: var(--warning-foreground);
    background-color: var(--warning-background);
}

.warning-text * {
    /* transform: rotate(-45deg); */
}

/* Library compatibility */
#vanillatoasts-container {
    z-index: 50;
    transition: margin-top 0.4s;
}

#vanillatoasts-container h4 {
    color: #333 !important;
}

#vanillatoasts-container.with-margin {
    margin-top: 50px;
}

/* Decorations */
.avatar-hat {
    z-index: 2;
}

#christmas-hat.avatar-hat {
  position: absolute;
  max-width: 180px;
  transform: translateY(-50px) translateX(35px) scaleX(1) rotate(-15deg);
  transition: transform 0.2s;
}

#christmas-hat.avatar-hat:hover {
  transform: translateY(-70px) translateX(35px) scaleX(1) rotate(-15deg) !important;
}


/* Animation */
.animated-row .row {
    margin-top: 40px;
    transition: transform 1s, opacity 1s;
    opacity: 0.1;
}

.animated-row .row.active {
    opacity: 1;
}

.animated-row .row div {
    padding: 5px 20px;
}

.animated-row .row div div {
    padding: 0px;
    overflow-y: auto;
}

.animated-row > .row > *:last-child {
	position: relative;
}

.animated-row > .row > *:last-child img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.animated-row .row:nth-child(odd) {
    transform: translateX(-50%);
}

.animated-row .row:nth-child(odd).active {
    transform: translateX(0%);
}

.animated-row .row:nth-child(even) {
    transform: scaleX(-1) translateX(-50%);
}

.animated-row .row:nth-child(even).active {
    transform: scaleX(-1) translateX(0%);
}

.animated-row .row:nth-child(even) > * {
    transform: scaleX(-1);
}

.animated-row .row:nth-child(even) > * > div {
    transform: scaleX(1);
}


@media (max-width: 768px) {
    .animated-row .row {
        opacity: 0;
    }

    .animated-row .row:nth-child(odd) {
        transform: translateX(0%);
    }

    .animated-row .row:nth-child(even) {
        transform: scaleX(-1) translateX(0%);
    }
}



.social-medias {
	margin-top: 20px;
	display: flex;
}

.social-medias > * {
	display: inline-block;
	color: var(--foreground);
	text-align: center;
	font-weight: 600;
	flex: 1;
}

.social-medias > * > img {
	width: 50px;
	display: block;
	margin: auto;
	margin-bottom: 5px;
}

/* ------------------------- Text Selection ---------------------------------*/

*::selection {
    background: var(--accent-color);
    color: var(--background);
}

form *::selection {
    background: var(--reverse-accent-color);
    color: var(--reverse-background);
}

* {
    user-select: none;
}

.text, .text *, p, p * {
    user-select: text;
}


/* ----------------------------- Debug ------------------------------------- */
.debug.yf { min-height: 100vh; }
.debug.xf { min-width: 100vh; }

.debug.yh { min-height: 50vh; }
.debug.xh { min-width: 50vh; }

.debug.y1 { min-height: 100px; }
.debug.x1 { min-width: 100px; }

.debug.y2 { min-height: 200px; }
.debug.x2 { min-width: 200px; }

.debug.d1 { background: red; }
.debug.d2 { background: green; }
.debug.d3 { background: blue; }
.debug.d4 { background: cyan; }
.debug.d5 { background: orange; }
.debug.d6 { background: purple; }
.debug.d7 { background: yellow; }

/* -------------------------------- Mobile --------------------------------- */
@media (min-width: 768px) {
    .animated-row > .row > * {
        max-height: 400px;
    }

    .project {
        /*transform: translateX(0%) !important;*/
    }
    
    .project .icon > img {
        max-width: 256px;
        max-height: 256px;
    }
}

/* Angular Animation */
/*main.ng-enter{
    transform: translateX(-500px);
    opacity: 0;
 
    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}
 
main.ng-enter-active{
    transform: translateX(0px);
    opacity: 1;
}
 
main.ng-leave{
    transform: translateX(0);
    opacity: 1;
 
    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}
 
main.ng-leave-active{
    transform: translateX(500px);
    opacity: 0;
}*/
