:root {
    --background: #1d1d1d;
    --background2: #2d2d2d;
    --foreground: #eee;
    --foreground2: #ccc;
    --foreground3: #aaa;
    --foreground4: #777;

    --reverse-foreground: #1d1d1d;
    --reverse-background: #eee;

    --warning-foreground: #000;
    --warning-background: rgb(250, 226, 11);

    --accent-color: #1d1d1d;
    --accent2-color: #eee;

    --alert-color: #b91d1d;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--foreground);
    text-decoration: none;
}

a:hover {
    color: var(--foreground2);
    text-decoration: underline;
}

h1 a, h2 a, h3 a {
    text-decoration: none !important;
}

nav li {
    list-style: none;
}

header {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(29, 29, 29, 0.25);
    transition: background 1s, height 0.4s;
    height: 50px;
    z-index: 50;
}

header * {
    transition: color 1s;
}

header.top {
    top: 0;
    bottom: auto;
    position: fixed;
    background: var(--foreground);
    height: 50px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

header.top * {
    color: var(--background);
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

header .container * {
    display: inline-flex;
}

header h1 {
    font-size: 22px;
}

header nav li {
    font-size: 20px;
}

header nav {
    margin-left: auto;
}

header nav li {
    margin-left: 15px;
}

#wrap {
    transition: opacity 0.4s;
}

#wrap, main {
    width: 100%;
    height: 100%;
}

main section {
    display: flex;
    border-bottom: 1px solid var(--foreground);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* box-shadow: 0 0 1000px 200px #000 inset; */
}

main section .container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    z-index: 20;
}

div.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.center {
    text-align: center;
}

/* Sections */
#overview {
    background-image: url('/assets/img/bunner-python.jpg');
}

#portifolio {
    /* margin-top: 100%; */
}

#contact {
    background-image: url('/assets/img/bunner-notebook.jpg');
}

.black-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

div.full, section.full {
    min-height: 100%;
}

/* Form */
textarea:focus, input:focus, select {
    outline: none;
}

form {
    width: 100%;
    max-width: 600px;
    background-color: var(--reverse-background);
    border-radius: 2px;
    padding: 20px;
    color: var(--reverse-foreground);
}

input[type=text], select, textarea {
    color: var(--reverse-foreground);
    width: 100%;
    padding: 8px 4px;
    margin: 2px 0 10px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--accent-color);
    font-size: 16px;
}

select {
    cursor: pointer;
}

input[type=submit] {
    border: none;
    background: var(--accent-color);
    color: var(--foreground);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

form label {
    font-size: 14px;
    font-weight: bold;
}

form label .required {
    color: var(--alert-color);
}

.card, input[type=submit] {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

input[type=text]:disabled, select:disabled, textarea:disabled, input[type=submit]:disabled {
    opacity: 0.5;
    cursor: progress;
}

h1 + p {
    color: var(--foreground3);
}

/* Image */
img.avatar {
    width: 100%;
    border-radius: 50%;
    border: 2px var(--accent2-color) solid;
}

img.avatar.small {
    max-width: 50px;
    border: 1px var(--accent2-color) solid;
}

img.avatar.medium {
    max-width: 250px;
    border: 2px var(--accent2-color) solid;
}

img.avatar.large {
    max-width: 400px;
    border: 3px var(--accent2-color) solid;
}

img.avatar.xlarge {
    max-width: 750px;
    border: 4px var(--accent2-color) solid;
}

/* Scroll bar style */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);  */
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0, 0.3);
    background: rgba(200, 200, 200, 0.9);
}

/* ::-moz-selection { background: rgba(25, 118, 210, 0.75); color: var(--accent2-color); }
::selection { background: rgba(25, 118, 210, 0.75); color: var(--accent2-color); } */


/* Utils */

.warning-text {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    transform: rotate(-45deg);
    /* transform: skewY(-45deg); */
    /* width: 100%; */
    color: var(--warning-foreground);
    background-color: var(--warning-background);
}

.warning-text * {
    /* transform: rotate(-45deg); */
}

/* Library compatibility */
#vanillatoasts-container {
    z-index: 50;
    transition: margin-top 0.4s;
}

#vanillatoasts-container h4 {
    color: #333 !important;
}

#vanillatoasts-container.with-margin {
    margin-top: 50px;
}

/* Decorations */
#avatar-christmas-hat:hover {
  transform: translateY(-70px) translateX(35px) scaleX(1) rotate(-15deg) !important;
}

#avatar-christmas-hat {
  position: absolute;
  max-width: 180px;
  transform: translateY(-50px) translateX(35px) scaleX(1) rotate(-15deg);
  transition: transform 0.2s;
}

/* Angular Animation */
/*main.ng-enter{
    transform: translateX(-500px);
    opacity: 0;
 
    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}
 
main.ng-enter-active{
    transform: translateX(0px);
    opacity: 1;
}
 
main.ng-leave{
    transform: translateX(0);
    opacity: 1;
 
    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}
 
main.ng-leave-active{
    transform: translateX(500px);
    opacity: 0;
}*/
