<section id="overview" class="full black-overlay">
    <div class="container middle">
        <div class="center">
            <a href="{{ user.blog }}" target="_blank">
			    <img id="christmas-hat" class="avatar-hat" src="/assets/img/christmas-hat-1.png" ng-if="is_christmas" />
                <img class="avatar medium" src="{{ user.avatar_url }}" alt="daviinacio" />
            </a>
            <h1>{{ user.name }}</h1>
            <p>{{ user.bio }}</p>
			
			<div class="social-medias">
				<a href="https://twitter.com/daviinacio__" target="_black"><img src="/assets/svg/twitter.svg" />Twitter</a>
				<a href="https://github.com/daviinacio" target="_black"><img src="/assets/svg/github.svg" />Github</a>
				<a href="https://linkedin.com/in/daviinacio" target="_black"><img src="/assets/svg/linkedin.svg" />Linkedin</a>
			</div>
        </div>
    </div>
</section>

<section id="portifolio" class="full">
    <div class="container">
        <h1>Portifólio</h1>

        <div id="portifolio-container" class="animated-row">
            <div class="row project" ng-repeat="project in portifolio">
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <h2>{{ project.title }}</h2>
					<div class="techs" ng-if="project.tecnologies">
						<span ng-repeat="tech in project.tecnologies">{{ tech }}</span>
					</div>
                    <div class="text" marked="project.text"></div>

                    <!--a class="btn-demo" href="{{ project.demo_url }}" target="_black">Demostração</a-->
                </div>

                <a class="col-sm-12 col-md-6 col-lg-5" ng-class="project.demo_url || project.doc_url ? 'btn-overlay' : '' " href="{{ project.demo_url+project.doc_url }}" target="_black" >
					<img src="{{ project.bunner_url ? project.bunner_url : '/assets/img/no-image-16x9.png' }}"/>
                    <div class="middle" ng-if="project.demo_url || project.doc_url">
						<span class="btn-demo" ng-if="project.demo_url">
							Demostração
						</span>
						<span class="btn-demo" ng-if="project.doc_url">
							Documentação
						</span>
					</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="full black-overlay">
    <div class="container">
        <h1 class="center">Contato</h1>
        <div class="middle full">
            <!-- action="https://api.daviapps.com/mailto/daviinacio" -->
            <form id="contactForm" class="card" method="post" action="https://api.daviapps.com/mailto/daviinacio">
                <label for="name">Nome<i class="required">*</i></label>
                <input type="text" id="name" name="name" placeholder="Seu nome..">

                <label for="email">Email<i class="required">*</i></label>
                <input type="text" id="email" name="email" placeholder="Seu e-mail..">

                <label for="subject">Assunto<i class="required">*</i></label>
                <select id="subject" name="subject">
                    <option value="budget">Orçamento</option>
                    <option value="android">Aplicativo android</option>
                    <option value="website">Website</option>
                    <option value="others">Outro..</option>
                </select>

                <label for="country">Pais<i class="required">*</i></label>
                <select id="country" name="country">
                    <option value="brazil">Brasil</option>
                    <!--option value="canada">Canada</option>
                    <option value="usa">USA</option-->
                </select>

                <label for="message">Mensagem<i class="required">*</i></label>
                <textarea id="message" name="message" style="resize:none" rows="5" placeholder="Digite sua mensagem.."/>
            
                <input type="submit" value="Enviar &nbsp ❯"/>
            </form>
        </div>
    </div>
</section>
