<section id="top" class="fill-section section valign-wrapper">
    <div class="container center-align valign">
        
        <img class="avatar" src="{{ user.avatar_url }}" alt="daviinacio" />
        <h1 class="name">{{ user.name }}</h1>
        <p class="bio">{{ user.bio }}</p>
        <div class="social-medias container">
            <div class="row">
                <div class="col m4 s12 social-col">
                    <a class="row" href="https://linkedin.com/in/daviinacio" target="_blank">
                        <div class="col s6 m12">
                            <img class="logo-img" src="/assets/svg/linkedin-logo.svg" alt="linkedin"/>
                        </div>
                        <p class="col s6 m12">Linkedin</p>
                    </a>
                </div>
                <div class="col m4 s12 social-col logo-img">
                    <a class="row" href="https://github.com/daviinacio" target="_blank">
                        <div class="col s6 m12">
                            <img class="logo-img" src="/assets/svg/github-sign.svg" alt="github"/>
                        </div>
                        <p class="col s6 m12">Github</p>
                    </a>
                </div>
                <div class="col m4 s12 social-col logo-img">
                    <a class="row" href="https://twitter.com/daviinacio__" target="_blank">
                        <div class="col s6 m12">
                            <img class="logo-img" src="/assets/svg/twitter-logo-on-black-background.svg" alt="twitter"/>
                        </div>
                        <p class="col s6 m12">Twitter</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="divider"></div>
<section id="skills" class="section fill-section">
    <div class="container center">

    </div>
</section> -->
<!--div class="divider"></div>
<section id="projetos-pessoais" class="section fill-section">
    <div class="container center">

    </div>
</section>
<div class="divider"></div>
<section id="projetos-em-producao" class="section fill-section">
    <div class="container center">

    </div>
</section>
<div class="divider"></div>
<section id="contato" class="section fill-section">
    <div class="container center">

    </div>
</section-->



<!--h1>daviapps.com.br</h1>
<h2>Site em construção</h2>
<h3>{{ message }}</h3>
<h4>Last update: 19/09/2019</h4-->

